@import "../../style/global.scss";
@import "../../style/partials/varaible.scss";

.cards-part{
  .row{
    padding-top: $pad-top3;
    border-bottom: $border4;
       .dev-cards {
        width: $width7;
        img {
          width: $width7;
          height: $height4;
          object-fit: $object-fit;
          object-position: $obj-post;
          cursor: $cursor1;
          transition: $transition1;
          filter: $filter1;
          &:hover{
            filter:$filter2 ;
          }
        }
        p {
          font-family: $default-font;
          font-weight: $fn-weight3;
          font-size: $font-size7;
          letter-spacing:$lt-spacing1 ;
          color: $color1;
          margin: $margin1;
          padding-top: $pad-top4;
          cursor: $cursor1;
          transition: $transition1;
          &:hover{
              color: $color2;
          }
        }
        h3 {
          font-family: $default-font;
          font-weight: $fn-weight3;
          font-size: $font-size8;
          letter-spacing: $lt-spacing1;
          color:$color1;
          margin: $margin1;
          cursor: $cursor2;
      
        }
      }
}
}
