$default-font:'Inter Tight', sans-serif;
$default-background:#000;
$back-color2:#7e93fb;
$back-color3:rgb(65, 88, 208);
$back-color4:transparent;
$back-color5:#4561ec;
$back-color6:#000;
$back-color7:#fff;
$back-color8:#17181C;
$padding_bottom1:4rem;
$padding_bottom2:3rem;
$padding_bottom3:8px;
$padding-right1:7px;
$padding-right2:14px;
$width1:163px;
$width2:25px;
$width3:290px;
$width4:130px;
$width5:297px;
$width6:608px;
$width7:100%;
$width8:300px;
$width9:551px;
$width10:336px;
$width11:535px;
$width12:263px;
$width13:475px;
$height1:70px;
$height2:25px;
$height3:40px;
$height4:389px;
$height5:auto;
$height6:61px;
$height7:331px;
$height8:100%;
$font-size1:32px;
$font-size2:20px;
$font-size3:29px;
$font-size4:14px;
$font-size5:17px;
$font-size6:15px;
$font-size7:33px;
$font-size8:19px;
$font-size9:18px;
$font-size10:22px;
$font-size11:28px;
$font-size12:12px;
$ln-height1:24px;
$ln-height2:14px;
$ln-height3:17px;
$ln-height4:23px;
$ln-height5:34px;
$ln-height6:16px;
$color1:#fff;
$color2:#7e93fb;
$color3:#696969;
$color4:#bebec4;
$color5:#4561ec;
$fn-weight1:700;
$fn-weight2:600;
$fn-weight3:500;
$pad-top1:20px;
$pad-top2:9rem;
$pad-top3:2rem;
$pad-top4:10px;
$pad-top5:37px;
$pad-top6:1rem;
$pad-top7:0;
$pad-top8:3px;
$margin-top1:35px;
$margin1:0;
$margin2:0 auto;
$padding1:5px 10px;
$padding2:6px;
$padding3:31px 6px;
$padding4:13px 36px;
$padding5:10px 12px;
$br-radius1:50%;
$br-radius2:5px 0px 0px 5px;
$br-radius3:0px 4px 4px 0px;
$br-radius4:4px;
$transition: 0.3s ease-in-out;
$transition1: .3s ease-in-out;
$list-style:none;
$txt-decor1:none;
$txt-decor2:underline;
$cursor1:pointer;
$cursor2:alias;
$border1:1px solid #bebebe;
$border2:1px solid transparent;
$border3:1px solid #7E93FB;
$border4:2px solid #abb8c3;
$border5:1px solid #373839;
$border6:2px solid #414249;
$object-fit:cover;
$obj-post:center;
$filter1:brightness(1);
$filter2:brightness(0.5);
$lt-spacing1:-0.03em;
$lt-spacing2: .01em;
$text-align1:center;
$disply1:none;

