$default-font:'Inter Tight', sans-serif;
$default-background:#000;
$back-color2:#7e93fb;
$back-color3:rgb(65, 88, 208);
$back-color4:transparent;
$back-color5:#4561ec;
$padding_bottom1:4rem;
$padding_bottom2:3rem;
$padding-right1:7px;
$width1:163px;
$width2:25px;
$width3:290px;
$width4:130px;
$width5:297px;
$width6:608px;
$height1:70px;
$height2:25px;
$height3:40px;
$font-size1:32px;
$font-size2:20px;
$font-size3:29px;
$font-size4:14px;
$font-size5:17px;
$font-size6:15px;
$ln-height1:24px;
$ln-height2:14px;
$ln-height3:17px;
$ln-height4:23px;
$color1:#fff;
$color2:#7e93fb;
$color3:#696969;
$color4:#bebec4;
$fn-weight1:700;
$fn-weight2:600;
$pad-top1:20px;
$pad-top2:9rem;
$margin-top1:35px;
$margin1:0;
$padding1:5px 10px;
$br-radius1:50%;
$br-radius2:5px 0px 0px 5px;
$br-radius3:0px 4px 4px 0px;
$transition: 0.3s ease-in-out;
$transition1: .3s ease-in-out;
$list-style:none;
$txt-decor1:none;
$txt-decor2:underline;
$cursor1:pointer;
$border1:1px solid #bebebe;
$border2:1px solid transparent;
$border3:1px solid #7E93FB;
