@import "../../../style/global.scss";
@import "../../../style/partials/varaible.scss";
footer {
  background-color: $default-background;
    padding-bottom: $padding_bottom1;

  .container {
    .row {
      display: flex;
      align-items: baseline;
      justify-content: center;
      padding-top: $padding_bottom2;
      .period {
        img {
          width: $width1;
          height: $height1;
        }
        p {
          font-family: $default-font;
          font-size: $font-size1;
          color: $color1;
          font-weight: $fn-weight1;
          padding-top: $pad-top1;
        }
        .pageicon {
          @media screen and (max-width: 768px){
            padding-top: 1rem;
          }
          display: flex;
          align-items: center;
          gap: 13px;
          padding-top: $pad-top2;

          h4 {
            margin: $margin1;
            background-color: $back-color2;
            width: $width2;
            height: $height2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $br-radius1;
            transition:$transition;
            &:hover {
              background-color: $back-color3;
            }
          }
        }
      }
      .list {
        ul {
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: flex-start;
          li {
            list-style: $list-style;
            font-family: $default-font;
            font-size: $font-size2;
            line-height: $ln-height1;
            font-weight: $fn-weight2;

            a {
              color: $color2;
              text-decoration: $txt-decor1;
              transition: $transition;
              &:hover {
                text-decoration: $txt-decor2;
              }
            }
          }
        }
      }
      .list2 {
        ul {
          display: flex;
          flex-direction: column;
          gap: 24px;
          align-items: flex-start;
          li {
            list-style: $list-style;
            font-family: $default-font;
            font-size: $font-size2;
            line-height: $ln-height1;
            color: $back-color2;
            font-weight: $fn-weight2;
            cursor: $cursor1;
            transition: $transition;
            &:hover {
              text-decoration: $txt-decor2;
            }
          }
        }
      }
    }
    .row {
      .stayword {
        p {
          font-family: $default-font;
          font-size: $font-size3;
          color:$color1;
          font-weight: $fn-weight1;
        }
        .emailsearch {
          @media screen and (max-width: 768px){
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
          }
          display: flex;
          align-items: center;
          form {
            .email {
              font-family: $default-font;
              background-color: $back-color4;
              border:$border1 ;
              height: $height3;
              font-size: $font-size4;
              line-height: $ln-height2;
              color: $color3;
              border-radius: $br-radius2;
              padding: $padding1;
              width: $width3;
            }
          }
          button {
            width: $width4;
            height: $height3;
            background: $back-color5;
            border-radius: $br-radius3;
            border:$border2 ;
            font-size: $font-size5;
            line-height: $ln-height3;
            color:$color1;
            font-weight: $fn-weight2;
            cursor: $cursor1;
          }
        }
        h3 {
          font-family: $default-font;
          width:$width5;
          font-size: $font-size4;
          line-height: $ln-height4;
          color: $color4;
          margin-top: $margin-top1;
          span{
            cursor: $cursor1;
            color: $color2;
            transition: $transition;
            &:hover{
                text-decoration: $txt-decor2;
            }
          }
        }
      }
      .group {
        p {
          @media screen and (max-width: 768px){
            width: 300px;
          }
            font-family: $default-font;
            width: $width6;
            font-size: $font-size4;
            line-height: $ln-height4;
            color: $color4;
        }
    }
    .privacy {
      @media screen and (max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
        gap: 19px;
      }
        display: flex;
        align-items: center;
        justify-content: space-between;
      .policy {
        display: flex;
        gap: 10px;
        align-items: center;
        p {
          @media screen and (max-width: 768px){
            font-size: 12px;
          }
            font-family: $default-font;
            font-size: $font-size6;
            margin: $margin1;
            line-height: $ln-height4;
            color: $color2;
            cursor: $cursor1;
            transition: $transition1 ;
            border-right: $border3;
            padding-right: $padding-right1;
            &:hover{
                text-decoration: $txt-decor2;
            }
        }
        h4 {
          @media screen and (max-width: 768px){
            font-size: 12px;
          }
            font-family: $default-font;
            font-size: $font-size6;
            line-height: $ln-height4;
            margin: $margin1;
            color:$color2;
            cursor: $cursor1;
            transition: $transition1;
            &:hover{
                text-decoration: $txt-decor2;
            }
        }
      }
      
    }
    }
  }
}
