@import "../../../style/global.scss";
@import "../../../style/partials/varaible.scss";
@import "../../../style/partials/mixin.scss";
.desktopnav {
  @media screen and (max-width: 768px) {
    display: $disply1;
  }
  width: $width7;
  .navtop {
    @media screen and (max-width: 768px) {
      display: $disply1;
    }
    background:$back-color8;
    .container {
      .row {
        padding-top: $pad-top7;
        .navleft {
          display: flex;
          gap: 11px;
          .leftone {
          @include Navbar-flex(flex-start,flex-start,11px);
            border-right: $border6;
            padding-right: $padding-right2;
            p {
              color: $color2;
              font-family: $default-font;
              font-size: $font-size4;
              cursor: $cursor1;
              line-height: $ln-height6;
              font-weight: $fn-weight3;
              margin: $margin1;
              padding-top: $pad-top8;
              transition: $transition;
              &:hover {
                text-decoration: $txt-decor2;
              }
            }
          }
          .lefttwo {
            h1 {
              margin: 0;
              font-size: 14px;
              color: #fff;
              font-family: $default-font;
            }
          }
        }
        .navright {
          p {
            color: #7e93fb;
            font-size: 14px;
            font-family: $default-font;
            font-weight: 500;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .navbottom {
    background-color: #000;
    padding-bottom: 9px;
    .container {
      .row {
        padding-top: 0;
        display: flex;
        align-items: baseline;
        justify-content: center;
        .pagelogo {
          width: 108px;
          height: 37px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .navmiddle {
          ul {
            list-style: none;
            display: flex;
            gap: 60px;
            .home {
              font-family: $default-font;
              list-style: none;
              cursor: pointer;
              padding: 2px;
              font-size: 15px;
              font-weight: 600;

              a {
                text-decoration: none;
                color: #7e93fb;
              }
            }
            .solution {
              font-family: $default-font;
              list-style: none;
              cursor: pointer;
              font-size: 15px;
              padding: 2px;
              position: relative;
              display: flex;
              font-weight: 600;
              &:hover {
                h2 {
                  display: block;
                }
                h3 {
                  display: none;
                }
                .reseurcesdown {
                  display: block;
                }
              }
              h3 {
                // display: none;
                position: absolute;
                top: -9px;
                right: -17px;
              }
              h2 {
                display: none;
                position: absolute;
                top: -11px;
                right: -17px;
              }

              a {
                text-decoration: none;
                color: #7e93fb;
              }
              .reseurcesdown {
                position: absolute;
                display: none;
                top: 31px;
                width: 1518px;
                right: -988px;
                padding-bottom: 2rem;
                background-color: #000;
                .container {
                  .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2rem;

                    .reserword {
                      p {
                        margin: 0;
                        font-size: 41px;
                        color: #fff;
                        word-spacing: 2px;
                        font-weight: 600;
                        font-family: $default-font;
                      }
                    }
                    .reserword1 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        margin: 0;
                      }
                      h1 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        margin: 0;
                        padding-top: 28px;
                      }
                    }
                    .reserword2 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        margin: 0;
                        border-right: 1px solid #373839;
                      }
                      h1 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        margin: 0;
                        padding-top: 28px;
                      }
                    }
                    .reserword3 {
                      width: 100%;
                      height: 140px;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                      }
                    }
                    .reserword4 {
                      .reserdate {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h4 {
                          background-color: #fff;
                          color: #000;
                          font-family: $default-font;
                          margin: 0;
                          font-size: 19px;
                          font-weight: 600;
                          border-radius: 4px;
                          width: 100px;
                          padding: 8px;
                        }
                        h5 {
                          color: #fff;
                          font-family: $default-font;
                          margin: 0;
                          font-size: 19px;
                          font-weight: 600;
                          border-radius: 4px;
                          width: 100px;
                          padding: 8px;
                        }
                      }
                      h6 {
                        font-family: $default-font;
                        color: #fff;
                        margin: 0;
                        font-size: 23px;
                        font-weight: 600;
                        padding-top: 14px;
                      }
                      h5 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        margin: 0;
                        font-weight: 600;
                        padding-top: 52px;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        &:hover {
                          color: #fff;
                        }
                      }
                    }
                    .reserword5 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        margin: 0;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        &:hover {
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
            .company {
              font-family: $default-font;
              list-style: none;
              cursor: pointer;
              display: flex;
              padding: 2px;
              font-size: 15px;
              font-weight: 600;
              position: relative;
              &:hover {
                h2 {
                  display: block;
                }
                h3 {
                  display: none;
                }
                .downmenu {
                  display: block;
                }
              }
              h3 {
                // display: none;
                position: absolute;
                top: -9px;
                right: -17px;
              }
              h2 {
                display: none;
                position: absolute;
                top: -11px;
                right: -17px;
              }
              .downmenu {
                background-color: #000;
                width: 418px;
                position: absolute;
                top: 20px;
                left: -166px;
                padding: 16px 18px;
                display: none;
                .row {
                  .downtext {
                    p {
                      font-family: $default-font;
                      color: #fff;
                      font-size: 23px;
                      font-weight: 600;
                    }
                    .about {
                      a {
                        text-decoration: none;
                        font-family: $default-font;
                        color: #fff;
                        font-size: 23px;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }

              a {
                text-decoration: none;
                color: #7e93fb;
              }
            }
            .blog {
              font-family: $default-font;
              list-style: none;
              cursor: pointer;
              font-size: 15px;
              padding: 2px;
              font-weight: 600;

              a {
                text-decoration: none;
                color: #7e93fb;
              }
            }
            .reser {
              font-family: $default-font;
              list-style: none;
              cursor: pointer;
              font-size: 15px;
              padding: 2px;
              display: flex;
              font-weight: 600;
              position: relative;
              &:hover {
                h2 {
                  display: block;
                }
                h3 {
                  display: none;
                }
                .reseurcesdown {
                  display: block;
                }
              }
              h3 {
                // display: none;
                position: absolute;
                top: -9px;
                right: -17px;
              }
              h2 {
                display: none;
                position: absolute;
                top: -11px;
                right: -17px;
              }

              a {
                text-decoration: none;
                color: #7e93fb;
              }
              .reseurcesdown {
                position: absolute;
                display: none;
                top: 31px;
                width: 1518px;
                right: -629px;
                padding-bottom: 2rem;
                background-color: #000;
                .container {
                  .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 2rem;

                    .reserword {
                      p {
                        margin: 0;
                        font-size: 41px;
                        color: #fff;
                        word-spacing: 2px;
                        font-weight: 600;
                        font-family: $default-font;
                      }
                    }
                    .reserword1 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        margin: 0;
                      }
                      h1 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        margin: 0;
                        padding-top: 28px;
                      }
                    }
                    .reserword2 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        letter-spacing: 0.01em;
                        margin: 0;
                        border-right: 1px solid #373839;
                      }
                      h1 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        line-height: 19px;
                        font-weight: 600;
                        letter-spacing: 0.01em;
                        margin: 0;
                        padding-top: 28px;
                      }
                    }
                    .reserword3 {
                      width: 100%;
                      height: 140px;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                      }
                    }
                    .reserword4 {
                      .reserdate {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h4 {
                          background-color: #fff;
                          color: #000;
                          font-family: $default-font;
                          margin: 0;
                          font-size: 19px;
                          font-weight: 600;
                          border-radius: 4px;
                          width: 100px;
                          padding: 8px;
                        }
                        h5 {
                          color: #fff;
                          font-family: $default-font;
                          margin: 0;
                          font-size: 19px;
                          font-weight: 600;
                          border-radius: 4px;
                          width: 100px;
                          padding: 8px;
                        }
                      }
                      h6 {
                        font-family: $default-font;
                        color: #fff;
                        margin: 0;
                        font-size: 23px;
                        font-weight: 600;
                        padding-top: 14px;
                      }
                      h5 {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        margin: 0;
                        font-weight: 600;
                        padding-top: 52px;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        &:hover {
                          color: #fff;
                        }
                      }
                    }
                    .reserword5 {
                      p {
                        font-family: $default-font;
                        color: #7e93fb;
                        font-size: 19px;
                        margin: 0;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        &:hover {
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .loginandtouch {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 71px;
          p {
            color: #7e93fb;
            font-size: 14px;
            font-weight: 500;

            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              text-decoration: underline;
            }
          }
          button {
            width: 130px;
            height: 40px;
            background: #4561ec;
            border-radius: 4px;
            border: 1px solid transparent;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            filter: opacity(1);
            &:hover {
              filter: opacity(0.6);
            }
          }
        }
      }
    }
  }
}
.mobilenav {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  .nav-top {
    background: #17181c;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    .nav-left {
      display: flex;
      gap: 8px;
      p {
        font-family: $default-font;
        color: #7e93fb;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
      }
      h4 {
        font-family: $default-font;
        margin: 0;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .nav-right {
      h3 {
        font-family: $default-font;
        color: #7e93fb;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .nav-bottom {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 18px;
    .website-logo {
      width: 97px;
      height: 36px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .menu-icon{
      .fixed-top{
          position: static; 
      }
    }
  }
}
