@import "../../../style/global.scss";

.desktopnav {
  .navtop {
    background: #17181c;
    .container {
      .row {
        .navleft {
          display: flex;
          gap: 11px;
          .leftone {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 11px;
            border-right: 2px solid #414249;
            padding-right: 14px;
            p {
              color: #7e93fb;
              font-size: 14px;
              cursor: pointer;
              line-height: 16px;
              font-weight: 500;
              margin: 0;
              padding-top: 3px;
              transition: 0.3s ease-in-out;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .lefttwo {
            h1 {
              margin: 0;
              font-size: 14px;
              color: #fff;
            }
          }
        }
        .navright {
          p {
            color: #7e93fb;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .navbottom {
    background-color: #000;
    .container {
      .row {
        .pagelogo {
          width: 108px;
          height: 37px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .navmiddle{
          ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 52px;
            .home{
              list-style: none;
              cursor: pointer;
            
            
              a{
               text-decoration: none;
               
              }
            }
            .solution{
              list-style: none;
              cursor: pointer;
              a{
                text-decoration: none;
              }
            }
            .company{
              list-style: none;
              cursor: pointer;
              a{
                text-decoration: none;
              }
            }
            .blog{
              list-style: none;
              cursor: pointer;
             
            
              a{
                text-decoration: none;
              }
            }
            .reser{
              list-style: none;
              cursor: pointer;
              a{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
