@import "../../style/global.scss";
@import "../../style/partials/varaible.scss";

main {
  .blogdetail {
    background-color: #000;
    border-bottom: 1px solid #4561ec;
    padding-bottom: 3rem;

    .container {
      .row {
        padding-top: 26px;

        .apartment {
          @media screen and (max-width: 768px) {
            flex-direction: column;
            width: 336px;
            margin: 0 auto;
          }
          display: flex;
          .apartment-img {
            @media screen and (max-width: 768px) {
              width: 100%;
            }
            width: 654px;
            height: 450px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
          .apartment-tittle {
            @media screen and (max-width: 768px) {
              width: 336px;
              padding: 21px;
            }
            background-color: #17181c;
            width: 654px;
            padding: 56px 42px 56px 52px;
            .text1-date {
              @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 11px;
              }
              display: flex;
              align-items: baseline;
              justify-content: space-between;
              p {
                font-family: $default-font;
                color: #000;
                background-color: #fff;
                margin: 0;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.01em;
                text-transform: capitalize;
                padding: 10px 12px;
                border-radius: 4px;
                font-weight: 600;
                width: 80px;
              }
              h1 {
                font-family: $default-font;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
              }
            }
            h2 {
              @media screen and (max-width: 768px) {
                width: 300px;
                font-size: 37px;
              }
              font-family: $default-font;
              color: #fff;
              font-size: 45px;
              font-weight: 600;
              margin: 0;
              width: 500px;
              padding-top: 31px;
            }
          }
        }
        .socialmedia {
          padding-top: 34px;
          display: flex;
          gap: 7px;

          h3 {
            font-family: $default-font;
            color: #fff;
            margin: 0;
            font-size: 18px;
          }
          .socialicon {
            display: flex;
            align-items: center;
            gap: 11px;
            h4 {
              margin: 0;
              background-color: #7e93fb;
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              transition: 0.3s ease-in-out;
              &:hover {
                background-color: rgb(65, 88, 208);
              }
            }
          }
        }
      }
    }
  }
  .post-banner {
    background-color: #000;
    .container {
      .row {
        padding-top: 3rem;
        .post-content {
          p {
            @media screen and (max-width: 768px) {
              font-size: 17px;
              width: 300px;
              margin: 0 auto;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 805px;
            border-bottom: 3px solid #7e93fb;
            padding-bottom: 55px;
          }
        }
        .photography {
          @media screen and (max-width: 768px) {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
          }
        }
        .content-img {
          @media screen and (max-width: 768px){
            display: none;
          }
          position: relative;
          width: 100%;
          img {
            width: 100%;
            border-radius: 4px;
            height: 560px;
          }
          .post-text1 {
            position: absolute;
            top: 36px;
            left: 34px;

            p {
              margin: 0;
              color: #000;
              font-size: 19px;
              font-weight: 600;
              width: 234px;
            }
            h2 {
              color: #000;
              font-size: 16px;
              font-weight: 400;
              width: 246px;
            }
            button {
              width: 138px;
              height: 50px;
              background: #4561ec;
              border-radius: 4px;
              border: 1px solid transparent;
              font-size: 16px;
              line-height: 17px;
              color: #fff;
              font-weight: 600;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              filter: brightness(1);
              &:hover {
                filter: brightness(0.6);
              }
            }
          }
        }
        .guided {
          @media screen and (max-width: 768px){
            display: none;
          }
          background-color: #4561ec;
          border-radius: 4px;
          padding: 41px 32px;
          margin-top: 37px;
          h1 {
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            width: 250px;
            font-family: $default-font;
          }
          button {
            width: 138px;
            height: 50px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid transparent;
            font-size: 16px;
            line-height: 17px;
            color: #4561ec;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            filter: brightness(1);
            &:hover {
              background-color: #22389c;
              color: #fff;
            }
          }
        }
        .stay-touch {
          @media screen and (max-width: 768px){
            display: none;
          }
          margin-top: 40px;
          background-color: #fff;
          border-radius: 4px;
          padding: 32px 32px;
          h3 {
            font-family: $default-font;
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            color: #000;
          }
          h4 {
            font-family: $default-font;
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            color: #000;
            padding-top: 12px;
          }
          form {
            position: relative;
            padding-top: 39px;
            .emmail {
              font-family: $default-font;
              font-size: 18px;
              height: 76px;
              border: 1px solid #e5e5e8 !important;
              border-radius: 4px;
              padding: 24px 22px 23px;
              font-weight: 400;
              width: 230px;
            }
            h5 {
              position: absolute;
              top: 60px;
              right: 34px;
            }
          }
          h3 {
            font-family: $default-font;
            font-size: 14px;
            line-height: 23px;
            color: #000;
            font-weight: 300;
            padding-top: 20px;
            span {
              cursor: pointer;
              color: #7e93fb;
              transition: 0.3s ease-in-out;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .submit {
            width: 203px;
            height: 60px;
            margin-top: 26px;
            background: #4561ec;
            border-radius: 4px;
            border: 1px solid transparent;
            font-size: 16px;
            line-height: 17px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            filter: brightness(1);
            &:hover {
              filter: brightness(0.6);
            }
          }
        }
        .advertising {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
            span {
              color: #7e93fb;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .lifetime {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
          }
          h5 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 20px;
          }
        }
        .website {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
            span {
              color: #7e93fb;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .invest {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
            span {
              color: #7e93fb;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .photography {
          @media screen and (max-width: 768px) {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          padding-top: 31px;
          h3 {
            @media screen and (max-width: 768px) {
              width: 300px;
              font-size: 21px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 39px;
            font-weight: 600;
            margin: 0;
          }
          h4 {
            @media screen and (max-width: 768px){
              width: 300px;
              font-size: 18px;
            }
            font-family: $default-font;
            color: #fff;
            font-size: 19px;
            width: 809px;
            padding-top: 36px;
          }
        }
      }
      .row {
        .container {
          .post-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 23px;
            padding-top: 24px;
            h2 {
              margin: 0;
              background-color: #4561ec;
              border-radius: 4px;
              width: 31px;
              height: 31px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            h3 {
              font-family: $default-font;
              cursor: pointer;
              margin: 0;
              font-size: 20px;
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
