@import "../../style/global.scss";
@import "../../style/partials/varaible.scss";
@import "../../style/partials/mixin.scss";
#filter {
  background-color: $back-color6;
  padding-bottom: $padding_bottom2;
  .container {
    .row {
      .changebutton {
        @media screen and (max-width: 768px){
          width: $width8;
          flex-direction: column;
          height: $height5;
          padding: $padding2;
          margin: $margin2;
        }
        @include Filter-Flex(center,6px,);
        padding:$padding3 ;
        background-color: $back-color5;
        height: $height6;
       
        width:$width9 ;
        border-radius: $br-radius4;
        .btns {
          @media screen and (max-width: 768px){
            width: $width7;
            text-align: $text-align1;
          }
          color: $color5;
          font-family: $default-font;
          font-size: $font-size9;
          line-height: $ln-height4;
          cursor: $cursor1;
          font-weight: $fn-weight1;
          padding:$padding4;
          background-color: $back-color7;
          border-radius: $br-radius4;
          margin: $margin1;
        }
      }
    }
  }
  .categorys {
    .container {
      .row {
        .listing-post {
          @media screen and (max-width: 768px){
            width: $width10;
            flex-direction: column;
            margin: $margin2;
          }
            display: flex;
            align-items: center;
            gap: 66px;
            border:$border5 ;
          .post-img {
            @media screen and (max-width: 768px){
              width: $width7;
            }
            width: $width11;
            height: $height7;
            a {
              text-decoration: $txt-decor1;
              img {
                width: $width7;
                height: $height8;
                object-fit: $object-fit;
                object-position: $obj-post;
                border-radius: $br-radius4;
              }
            }
          }
          .post-text {
            .tittleone {
              @media screen and (max-width: 768px){
                flex-direction: column;
              }
              display: flex;
              align-items: center;
              gap: 6px;
              p {
                font-family: $default-font;
                font-size: $font-size4;
                line-height: $ln-height5;
                font-weight: $fn-weight1;
                color: $color1;
                margin: $margin1;
              }
              h4 {
                font-family: $default-font;
                font-size: $font-size4;
                line-height: $ln-height5;
                font-weight: $fn-weight1;
                color: $color2;
                margin: $margin1;
                cursor: $cursor1;
              }
            }
            h3 {
              @media screen and (max-width: 768px){
                font-size: $font-size10;
                width: $width12;
                margin: $margin2;
              }
              font-family: $default-font;
              margin: $margin1;
              color: $color1;
              font-weight: $fn-weight2;
              font-size: $font-size11;
              width: $width13;
              padding-top: $pad-top4;
            }
            .tittlethree {
              @media screen and (max-width: 768px){
                flex-direction: column;
                padding-bottom: $padding_bottom3;
              }
                display: flex;
                align-items: center;
                gap: 7px;
                padding-top: $pad-top5;
                span {
                    font-family: $default-font;
                    font-size: $font-size4;
                    line-height: $ln-height3;
                    letter-spacing:$lt-spacing2;
                    color: $color1;
                    padding: $padding5;
                    background: $back-color8;
                    cursor: $cursor1;
                    border-radius: $br-radius4;
                }
            }
          }
        }
      }
    }
  }
}
